.header {
  display: flex;
  position: sticky;

  /* 스크롤업되는 컨텐츠 위로 올라오도록 */
  z-index: 2;

  top: 0;
  height: var(--height-toolbar);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);

  color: white;
}
.header__homelink {
  display: inline-block;
  padding: 0 24px;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
}
.header__logo {
  height: 48px;
  vertical-align: middle;
  margin-bottom: 4px;
}
.header__nav-item {
  font-size: var(--font-size-larger);
}
.header__nav-item a {
  /* 클릭 영역 확대 */
  display: inline-block;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
   /* 체크박스 인풋을 버튼으로 커스터마이즈 */
   .header__menu-btn {
    all: unset;
    display: block;
    width: var(--height-toolbar);
    height: var(--height-toolbar);
    background-image: url(../images/menu-button.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__menu-btn:checked {
    background-color: #0e0e0e;
  }
  .header__menu-btn:checked + .header__nav {
    display: inherit;
    position: absolute;
    top: var(--height-toolbar);
    right: 0;
    background-color: var(--color-dark);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .header__nav-item {
    width: 100vw;
    background-color: #181818;
    text-align: center;
  }
  .header__nav-item a {
    width: 100vw;
  }
  .header__nav-item:not(:last-child) {
    border-bottom: 2px solid rgba(255, 255, 255, 0.06);
  }
}

@media (min-width: 769px) {
  .header__nav-item {
    display: inline-block;
    position: relative;
  }
  .header__nav-item:last-child {
    margin-right: 1.6em;
  }
  .header__nav-item a {
    padding: 0 0.8em;
  }
  .header__nav-item::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    background-color: white;
    transition: all 350ms;
  }
  .header__nav-item:hover::after {
    left: 0;
    width: 100%;
    height: 5px;
  }
  .header__menu-btn {
    display: none;
  }
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: rgb(34, 34, 34);
    }
  }
  .fill ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
  }
  .fill ul li a:hover {
    z-index: 1;
  }
  .fill ul li a:hover::after {
    z-index: -10;
    animation: fill 0.5s forwards;
    opacity: 0.5;
  }
}